<ul class="dates-list">
  {% for date in site.data.dates %}
  {% assign date_class = "" %}
  {% if date.passed %}
    {% assign date_class = "date-passed" %}
  {% elsif date.highlight %}
    {% assign date_class = "date-highlight" %}
  {% elsif date.previous %}
    {% assign date_class = "date-updated" %}
  {% endif %}
  <li{% if date_class != "" %} class="{{ date_class }}"{% endif %}>
    <span class="date-label">{{ date.label }}</span>
    {% if date.previous %}
    <span class="date-previous"><del>{{ date.previous }}</del></span>
    {% endif %}
    <span class="date-value">{{ date.value }}</span>
  </li>
  {% endfor %}
</ul>
